@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

$green1: #26452B;
$green2: #355C2E;
$green3: #3E5229;
$green4: #2E5C42;
$green5: #295246;
$accent1: #73D183;

$corner-radius: 5px;

$spacing: 1vw;

$roboto: 'Roboto', sans-serif;

body {
    margin: 0;
    padding: 0;
}