@import '../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    font-family: $roboto;
    font-size: 2vh;
    border-radius: $corner-radius - 2px $corner-radius - 2px 0 0;
}