@import '../../styles.scss';

.container {
    flex-direction: column;
    border-radius: $corner-radius - 2px $corner-radius - 2px 0 0;
    @include search-container;
}

.search-bar {
    margin: 0 0.5vh 0.5vh 0.5vh;
    @include search-bar;
}

.search-bar:focus {
    outline: none;
}

.label {
    @include search-label;
}

.container:hover .search-bar {
    display: inline;
}