@import '../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    background-color: $green5;
    width: 100%;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    font-family: $roboto;
    font-size: 2vh;
    border-radius: $corner-radius - 2px $corner-radius - 2px 0 0;
}

.search-bar {
    display: none;
}

.label {
    color: white;
    font-weight: bold;
    margin: 0.5vh 0.5vh 0 0.5vh;
}

.container:hover .search-bar {
    display: inline;
    margin: 0.5vh;
    border-radius: $corner-radius - 1px;
}