@import '../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: $spacing;
    width: 100%;
    height: 100%;
}

@mixin panel {
    background-color: $green5;
    width: 100%;
    height: 20%;
    font-family: $roboto;
    color: white;
    margin: $spacing 0 $spacing 0;
}

.class-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: $corner-radius $corner-radius 0 0;
    font-size: 3em;
    @include panel;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 $corner-radius $corner-radius;
    @include panel;
}