<div class="container">
    <video class="video" #video>
        <source src="../../assets/demo.mp4" type="video/mp4"/>
    </video>
    <div class="controls">
        <button *ngIf="video.paused" class="play-pause" (click)="playVideo()">
            <img class="button-image" src="../../assets/play-button.png">
        </button>
        <button *ngIf="!video.paused" class="play-pause" (click)="pauseVideo()">
            <img class="button-image" src="../../assets/pause-button.png">
        </button>
        <div class="progress-bar"></div>
    </div>
</div>
