<div class="container"(keydown.Space)="toggleVideo()">
    <video class="video" #video (click)="toggleVideo()" (keydown.Space)="toggleVideo()">
        <source src="../../assets/demo.mp4" type="video/mp4"/>
    </video>
    <div class="controls">
        <div class="progress-bar" id="pBar" #progressBar></div>
        <div class="buttons">
            <button class="play-pause">
                <img *ngIf="video.paused" class="button-image" (click)="toggleVideo()" src="../../assets/play-button.png">
                <img *ngIf="!video.paused" class="button-image" (click)="toggleVideo()" src="../../assets/pause-button.png">
            </button>
            <button class="fullscreen">
                <img class="button-image" (click)="goFullScreen()" src="../../assets/fullscreen.png">
            </button>
        </div>
    </div>
</div>
