@import '../../styles.scss';

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: $corner-radius;
}

.video {
    width: 100%;
    border-radius: $corner-radius;
    outline: none;
    object-fit: none;
}

.controls {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $green5;
    border-radius: 0 0 $corner-radius $corner-radius;
}

.play-pause {
    background: none;
    border: 0;
    outline: 0;
    margin: 0.25vw;
}

.button-image {
    height: $spacing;
}

.button-image:hover {
    height: $spacing + 0.25vw;
}