<div class="container">
    <div class="message">
        <span class="sender">{{ thread.primaryMessage.sender }}</span>
        {{ thread.primaryMessage.message }}
        <span *ngIf="!showSecondary && hasSecondary" class="see-more-less" (click)="showSecondary = true;">
            ...
        </span>
        <div *ngIf="showSecondary" class="secondary-messages">
            <div *ngFor="let secMessage of thread.secondaryMessages" class="secondary-message">
                <span class="sender">{{ secMessage.sender }}</span>
                {{ secMessage.message }}
            </div>
        </div>
        <div class="input" contenteditable="true" (keyup.enter)="onSubmit(input.innerText)" #input></div>
        <div *ngIf="showSecondary" class="see-more-less" (click)="showSecondary = false;">
            ...
        </div>
    </div>
</div>
