@import '../../styles.scss'; 

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: $green4;
    height: 96vh;
    padding: $spacing;
}

.screen {
    @include feature-panel;
    height: auto;
    width: 70%;
}

.chat {
    @include feature-panel;
    height: auto;
    width: 30%;
    margin-left: $spacing;
}