@import '../../styles.scss'; 

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: $green4;
    height: 96vh;
    padding: $spacing;
}

@mixin feature-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: $corner-radius;
    padding: 1vh;
}

.screen {
    @include feature-panel;
    height: auto;
    width: 70%;
}

.chat {
    @include feature-panel;
    height: 100%;
    width: 30%;
    margin-left: $spacing;
    align-self: center;
}