@import '../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vh;
    background-color: $green5;
    margin: $spacing;
    border-style: solid;
    border-radius: $corner-radius;
    border-color: $accent1;
    border-width: thick;
    font-family: $roboto;
    font-size: 1em;
    color: white;
}

.video-container {
    position: relative;
}

.video {
    position: relative;
    width: 15vh;
}

.container .description {
    display: none;
    margin: 0 1em 1em 1em;
}

.container:hover .description {
    display: inline;
}

.title {
    font-weight: bold;
    margin: 1em;
}

.button-image {
    height: 2vh;
    margin: 0.5vw;
}

.button {
    height: 50%;
    width: 50%;
    position: absolute;
    bottom: 25%;
    left: 25%;
    border-radius: $corner-radius;
    background-color: $accent1;
    border: none;
}

.button:focus {
    outline: none;
}