<div class="container">
    <video class="video" autoplay="true" #video></video>
    <video class="video" autoplay src="{{ vidURL }}"></video>
    <div class="controls">
        <div class="buttons">
            <button class="play-pause">
                <img *ngIf="!recording" class="button-image" src="../../assets/record.png" (click)="startStream()">
                <img *ngIf="recording" class="button-image" src="../../assets/stop.png" (click)="endStream()">
            </button>
        </div>
    </div>
</div>
