@import '../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: $corner-radius;
}

.thread-card {
    width: 100%;
}

.search-chat {
    width: 100%;
}

.new-thread {
    width: 100%;
}